export(arrange.ggplots)
export(evalTerm)
export(fct)
export(getPosteriorTerm)
export(lin)
export(mrf)
export(plotTerm)
export(rnd)
export(sm)
export(spikeAndSlab)
export(spikeSlabGAM)
export(srf)
export(ssGAM2Bugs)
export(ssGAMDesign)
export(u)
importFrom(akima,interpp)
importFrom(cluster,clara)
importFrom(coda,mcmc)
importFrom(coda,mcmc.list)
importFrom(MASS,ginv)
importFrom(MCMCpack,dinvgamma)
importFrom(MCMCpack,rinvgamma)
importFrom(mvtnorm,rmvnorm)
importFrom(splines,spline.des)
S3method(plot,spikeSlabGAM)
S3method(predict,spikeSlabGAM)
S3method(print,summary.spikeSlabGAM)
S3method(summary,spikeSlabGAM)
useDynLib(spikeSlabGAM, sampler)

